# Configurações de Email (Gmail)
# Gere uma senha de aplicativo em: https://myaccount.google.com/apppasswords
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_app

# Configurações de Frete (Melhor Envio)
# Obtenha o code, acessando a url: https://sandbox.melhorenvio.com.br/oauth/authorize?response_type=code&client_id=9637&redirect_uri=https://carless-landline-lazy.ngrok-free.dev/&scope=shipping-calculate

FRETE_ACCESS_TOKEN=seu_token_melhor_envio
CEP_ORIGEM=seu_cep_origem

# Configurações do Banco de Dados (já pré-configurado)
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=password123
# POSTGRES_DB=chacuteria_db
