# Configurações de Email (Gmail)
# Gere uma senha de aplicativo em: https://myaccount.google.com/apppasswords
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_app

# Configurações do Banco de Dados (já pré-configurado)
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=password123
# POSTGRES_DB=chacuteria_db
