<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Bem-vindo ao sistema!</h1>

<div th:if="${user != null}">
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>Nome: <span th:text="${user.name}"></span></p>
    <p>Role: <span th:text="${user.role}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
</div>

<div th:if="${user == null}">
    <p>Nenhum usuário logado.</p>
</div>

</body>
</html>
