<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" href="../../static/css/style.css" />
</head>
<body>
    <form th:action="@{/register}" th:object="${userDto}" method="post">
    <input type="text" th:field="*{name}" placeholder="Name" />
    <input type="email" th:field="*{email}" placeholder="Email" />
    <input type="password" th:field="*{password}" placeholder="Password" />

    <select th:field="*{role}">
        <option th:each="role : ${T(com.example.charcuteria.enums.UserRoleEnum).values()}"
                th:value="${role}" th:text="${role}"></option>
    </select>

    <button type="submit">Create User</button>
</form>
</body>
</html>
