<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <footer th:fragment="footer" class="main-footer">
        <div class="footer-container">
            <div class="footer-column footer-logo">
                <img th:src="@{/images/logo.png}" src="/images/logo.png" alt="Koch Charcutaria Logo">
            </div>

            <div class="footer-column">
                <h3>Catálogo</h3>
                <ul>
                    <li><a href="/produtos">Catálogo</a></li>
                    <li><a href="/subscriptions">Assinaturas</a></li>
                    <li><a href="/partners">Parcerias</a></li>
                    <li><a href="/politica">Política de privacidade</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Contato</h3>
                <address>
                    <p><a href="https://maps.app.goo.gl/piJAuabDEbjpuTKy8" target="_blank">Rua Das Carobas 1553 Biopark Toledo PR</a></p>
                    <p><a href="https://wa.me/5545999853339" target="_blank">(45) 99985-3339</a></p>
                    <p><a href="mailto:k.charcutaria@gmail.com">k.charcutaria@gmail.com</a></p>
                </address>
                <div class="social-icons">
                    <a href="https://www.instagram.com/kocharcutaria/" target="_blank" aria-label="Instagram">
                        <svg viewBox="0 0 24 24" width="32" height="32" stroke="currentColor" stroke-width="2"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <hr>
            <p>&copy; 2026 Koch Charcutaria Artesanal LTDA. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>
