<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro | Koch Charcutaria</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" href="/css/styleLogin.css" />
    <link rel="stylesheet" th:href="@{/css/error.css}" href="/css/error.css" />
    <link rel="shortcut icon" th:href="@{/images/logo.png}" href="/images/logo.png" type="image/x-icon">
</head>

<body>

    <div class="cont-pag">
    <img th:src="@{/images/logo.png}" src="/images/logo.png" class="circular-logo">
    <h1 class="cod-error">404</h1>
    <p class="pg-not-found">Página não encontrada.</p>
    <button class="btn">
    <a th:href="@{/}" class="text">Voltar para o início</a>
    </button>
    </div>

</body>

</html>