<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleIndex.css}" href="/css/styleIndex.css" />
    <title>Koch Charcuteria </title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="assinaturas.html">Assinaturas</a></li>
            <li><a href="parcerias.html">Parcerias</a></li>
        </ul>
        <div class="cart">
            aqui vai a foto do carrinho
        </div>
    </div>
    <div class="hero-wrapper">
    </div>
</body>

</html>