<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Partners</title>
    <meta charset="UTF-8">
</head>

<body>
    <form th:action="@{/partners}" method="post" th:object="${partner}">
        <label>Nome da empresa</label>
        <input type="text" th:field="*{name}" required />
        <label>CNPJ</label>
        <input type="text" th:field="*{cnpj}" required />
        <label>Responsável</label>
        <input type="text" th:field="*{responsible}" />
        <label>Email</label>
        <input type="email" th:field="*{email}" required />
        <label>Telefone</label>
        <input type="text" th:field="*{phone}" required />

        <label>Mensagem</label>
        <textarea th:field="*{message}"></textarea>

        <button type="submit">Enviar</button>

    </form>

</body>

</html>